
@{
    ViewBag.Title = "Błędny Token";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<span>Sprawdź poprawność klucza.</span>

<p>
    @Html.ActionLink("Powrót", "Index", "Map", null, null)
</p>
